html, body {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #000;
}

#import_btn {
	width: 100px;
	color: #fff;
	background-color: #aaa;
	margin: 5px;
	padding: 5px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #666;
	cursor: pointer;
}
